.container {
  display: flex;
  text-align: center;
  font-size: large;
  flex-flow: column;
}

img {
  height: 35vh;
  border-radius: 15px;
}
.Login {
  display: flex;
  flex-flow: column;
}

.Inputs {
  justify-content: space-around;
  padding: 10px;
}

.Password {
  padding: 10px;
}
