.App {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: inherit;
}
.root {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
}
#products {
  padding-top: 510px;
  display: flex;
  flex-direction: column;
}
